# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="https://thecapitalguru.net"

# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=https://jhzknnbzwvzzetodkbnt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoemtubmJ6d3Z6emV0b2RrYm50Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2NjcwMDIsImV4cCI6MjA5MTI0MzAwMn0.ImvDjOaYpUwVr_oSwStsA-WddViIXjEtnwansy99vo0
SUPABASE_SERVICE_ROLE_KEY=

# RAZORPAY
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# RESEND
RESEND_API_KEY=
